.cards {
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 10%;

    overflow-x: auto;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 20%;
    background: lightgrey;
    border: 1px solid lightblue;
    width: 175px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between 20px;

}

.card:hover {
    background: grey;
    border: solid yellowgreen;

}

.circle {
    padding: auto;
    font-size: small;
    text-align: center;
    margin-top: auto;

}

.img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    padding: 5%;
    border-radius: 30px;


}

hr.dotted {
    border-top: 3px solid #bbb;
}

.container {
    width: 800px;
    border: 10px dotted yellowgreen;
    padding: 50px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    /* animation: color-change 5s linear infinite; */

}

@keyframes color-change {
    0% {
        border-color: rgb(62, 62, 249);
        color: red
    }

    25% {
        border-color: rgb(247, 54, 54);
        color: rgb(48, 255, 48);
    }

    80% {
        border-color: rgb(48, 255, 48);
        color: greenyellow;
    }

    100% {
        border-color: red;
        color: rgb(48, 255, 48);

        /* border: transparent; */
    }
}

#display-information {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

#image {
    width: 38%;
    margin-left: 60%;
    margin-top: auto;
}


/* switch */

.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 96%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

.logo {
    height: 300px;
    width: 300px;
    filter: invert(0%)
}

.mario-gif {
    margin-left: 80%;
    margin-top: -50%;
    width: 15%;
}

.mario-gif2 {
    width: 40%;
    margin-top: -20%;
}

.lights-out {
    margin-left: 80%;
    margin-top: -50%;
    width: 15%;
    filter: invert(25.1%);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:black;
}

#submit-button {
  font-family: 'Roboto', sans-serif;
  font-size:21px;
  text-transform:uppercase;
  letter-spacing:6px;
  color:white;
  width:10%;
  height: 50px;
  /* position: absolute; */
  top: 800px;
  left: 750px;
  padding:20px 0px;
  overflow: visible;
  border-radius: 40px;
  /* margin-top : 50%; */
}

.submit, .loader, .loader-wrapper{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}

.submit {
  z-index:2;
  width:325px;
  height:95px;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  text-align:center;
  color:rgba(255,255,255,1);
  text-decoration:none;
  line-height:440%;
  transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}

#submit-button::selection, .submit::selection {
  background: transparent;
}

.submit:before {
  content:"";
  z-index:-2;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  left:0;
  top:0;
  opacity:0.8;
  transform:scale(0.9) translateY(15px);
  filter:blur(20px);
  transition:all 0.2s ease;
}

.submit:after {
  content:"";
  z-index:-4;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  transform:scale(1);
}

.submit:hover:before {
  transform:scale(0.9) translateY(5px);
  filter:blur(15px);
}

.submit:active {
  line-height:460%;
  filter:brightness(0.95);
  transition:all 0s;
}

.checked .submit:before {
  top:0px;
  opacity:0;
}

.checked .submit:after {
    animation: submit-after-anim 0.5s 4.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
   -webkit-filter: url("#goo");
   filter: url("#goo");
}

.yellow {
  background-color: #ffb369;
}

.pink {
  background-color: #ff4272;
  }

.orange {
  background-color: #ff7b6e;
  transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .pink {
  animation: loader-anim-pink 4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .yellow  {
  animation: loader-anim-yellow 4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .orange {
   animation: loader-anim-orange 4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader {
  width:95px;
  height:95px;
  border-radius:50%;
  opacity:0;
  z-index:1;
}

.checked .loader {
  opacity:1;
}

.checked .loader-wrapper {
  animation: wrapper-loader-anim 4.2s linear;
  width:95px;
  height:95px;
  transform:scale(0)
}

.checked .submit {
  width:95px;
  color:rgba(255,255,255,0);
  background: linear-gradient(to right, #ff7b6e 0%,#ff7b6e 100%);
  animation: submit-anim 4s  cubic-bezier(0.39, 0.575, 0.565, 1);
  }


.check-wrapper {
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  width:95px;
  height:95px;
  z-index:-1;
  opacity:1;
}

.check-wrapper svg {
  margin-top: 31px;
  margin-left: 16px;
}

.check{fill:none;
  stroke:#ffffff;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
 stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  z-index:-1;
  }

.checked .check-wrapper {
  z-index:3;
}

.checked .check {
  animation: check 4s 4.4s ease forwards;
}


@keyframes loader-anim-pink {
    0% {transform:scale(0.2) rotate(0deg) translate(220px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0px);}
}

@keyframes loader-anim-yellow {
     0% {transform:scale(0.2) rotate(0deg) translate(300px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0px);}
}

@keyframes loader-anim-orange {
  0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
  85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
  100% {transform:scale(0.2) rotate(30deg) translate(0px); }
}

@keyframes wrapper-loader-anim {
    0% {transform:scale(0) translateY(0px) }
    10% {transform:scale(1) translateY(20px)}
  50% {transform:scale(1.2) translateY(10px) }
  90% {transform:scale(1) translateY(-10px)}
  100% {transform:scale(0) translateY(0px)}
}

@keyframes submit-after-anim {
  0% {transform:scale(1); opacity:0.3 }
   100% {transform:scale(2); opacity:0 }
}

@keyframes submit-anim {
    0% {transform:scale(1) }
      5%, 95% {transform:scale(0.7) }
  100% {transform:scale(1)}
}

@keyframes check {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}